* {
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

.main_menu {
    margin-left: 230px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.link_text_footer {
    color: white;
    text-decoration: none;
}

.section_1 {
    background: url(./Foto/Logo_Chayka_3.jpg);
    background-size: cover;
}

.main_text_left {
    margin-top: 200px;
    margin-left: 10%;
    font-size: 30px;
    color: white;
}

.main_text_left_1 {
    font-size: 40px;
    padding-bottom: 40px;
    color: white;
}

.main_text_left_2 {
    margin-top: 40px;
    padding-right: 70%;
    text-align: left;
    padding-bottom: 190px;
}

.main_p {
    font-size: 40px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid #009186;
    text-align: center;
}

.main_p_text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.photo_2 {
    width: 380px;
    height: 220px;
    margin-top: 30px;
    margin-left: 40px;
}

.Camp {
    background-color: white;
    color: black;
    text-align: left;
    margin: 60px;
    display: inline-flex;
}

.main_p_right {
    font-size: 40px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid white;
    font-family: 'Times New Roman', Times, serif;
}

.main_p_text_right {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.learn {
    color: white;
    text-align: left;
    display: inline-flex;
    background-color: #009186;
    padding: 60px;
}

.photo_4 {
    width: 380px;
    height: 220px;
    margin-top: 30px;
    margin-right: 40px;
}

.Sport {
    background-color: white;
    color: black;
    text-align: left;
    margin: 60px;
    display: inline-flex;
}

.About_PIT {
    color: white;
    text-align: left;
    display: inline-flex;
    background-color: #009186;
    padding: 60px;
}

.photo_PIT {
    width: 600px;
    height: 500px;
    margin-top: 30px;
    margin-left: 40px;
}

  .Galery_text {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid #009186;
    border-top: 1px solid #009186;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    
}

.photo_footer {
    width: 480px;
    height: 320px;
    margin: 11px;
    display: inline-flex;
}
/* .Footer_text {
    padding: 60px;
    background-color: #009186;
    color: white;
    text-align: left;
}  */