* {
    text-decoration: none;
    list-style-type: none; 
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

.main_menu {
    padding: 15px;
    padding-left: 300px;
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.link_text_footer {
    color: white;
    text-decoration: none;
    margin-left: 100px;
}

.section_1 {
    background: url(./Foto/Logo_Chayka_3.jpg);
    background-size: cover;
}

.main_text_left {
    margin-top: 200px;
    margin-left: 10%;
    font-size: 30px;
    color: white;
}

.main_text_left_1 {
    font-size: 40px;
    padding-bottom: 40px;
    color: white;
}

.main_text_left_2 {
    margin-top: 40px;
    padding-right: 70%;
    text-align: left;
    padding-bottom: 190px;
}

.main_p {
    margin-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 400%;
    margin-left: 50%;
    border-bottom: 1px solid #009186;
}

.main_p_text {
    padding-top: 4%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    margin-left: 50%;
}

.main_p_right {
    text-align: center;
    border-bottom: 1px solid white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 400%;
    margin-right: 50%;
}

.main_p_text_right {
    padding-top: 4%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 125%;
    margin-right: 45%;
    margin-bottom: 5%;
}

.photo_1 {
    width: 225%;
    height: 80%;
    text-align: left;
    margin-top: 30%;
    margin-left: -210%;
}

.photo_4 {
    width: 225%;
    height: 80%;
    text-align: left;
    margin-top: 30%;
    margin-left: -100%;
}

.photo_2 {
    width: 240%;
    height: 80%;
    text-align: right;
    margin-top: 40%;
    margin-left: -20%;
}

.photo_3 {
    width: 240%;
    height: 80%;
    text-align: right;
    margin-top: 40%;
    margin-right: 100%;
    margin-left: 110%;
}

.Camp {
    background-color: white;
    color: black;
    text-align: left;
    display: inline-flex;
    margin: 5%;
}

.learn {
    padding: 60px;
    padding-bottom: 3%;
    background-color: #009186;
    color: white;
    text-align: left;
    display: inline-flex;
}

.Sport {
    padding: 3%;
    background-color: white;
    color: black;
    text-align: left;
    display: inline-flex;

}

.About_PIT {
    padding: 3%;
    background-color: #009186;
    color: white;
    text-align: left;
    display: inline-flex;
}

.Galery_text {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    padding-right: 3%;
}

.photo_footer {
    margin-top: 5px;
    padding: 10px;
    width: 480px;
    height: 320px;
    text-align: left;
    margin-left: 0.1%;
}



.Footer_text {
    padding: 60px;
    background-color: #009186;
    color: white;
    text-align: left;
}